.list {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1.5rem;
}

.card {
    background: white;
    color: #111;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.date {
    font-weight: bold;
    font-size: 0.9rem;
}

.card img {
    width: 48px;
    height: 48px;
}

.desc {
    text-transform: capitalize;
    font-size: 0.85rem;
}