.container {
    background-color: #f7f7f7;
    color: #333;
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}


.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bottomGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}