.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bottomGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}